#footer{width: 100%;}
.link{
    border-bottom:2px solid #ebebeb;
}
.link ul{
    display: flex;
    justify-content:space-around;
    list-style: none;
    margin: 70px 50px;
}
.link ul a{
    text-decoration: none;
}
.link ul li div:nth-child(2){
    text-align: center;
}


#r-mid{
    float:right;
    text-align: right;
}
#r-mid a{
    display:block;
    width:173px;height:53px;
    text-align: center;
    line-height: 53px;
    color:#fff;
    font-size: 15px;
    background: #666;
    border-radius:35px;
    text-decoration: none;
}
#r-mid h3{margin:10px 0;}

.bot ul{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    color:#98979A;
}
.bot ul img{
    margin: 0 10px;
}
.bot{
    border-top:1px solid #ebebeb;
    padding: 20px 0;
}
@media(min-width:1440px){
    .link{
        width: 70%;
        height: 205px;
        margin:0 auto;
    }
    .link ul li{margin:0 25px;}
    .link ul li a div:nth-child(1){
        width: 130px;height: 34px;
        margin:0 0 17px;
    }
    .link ul a{
        font-size: 15.6px;
        color:#333;
    }
    .link ul li img{ 
        width: 36px;height: 34px;
        margin: 0 45px;
    }
    .mid div ul{
        width: 120.08px;
        height: 250px;
        float: left;
        list-style: none;
        font-size:13px;
        color:#666;
    } 
    .mid div ul span{display:none;}
    #foot{
        width: 70%;
        height: 300px;
        margin:0 auto;
        padding: 60px 0;
    }
    .mid div:first-child{
       width: 70%;
    }
    
    .mid div ul li{ 
        margin:0 13px 0 0;
        padding: 8px 0;
    }
    .mid div ul li:first-child{
        margin:0 0 10px;
        padding: 0;
        color:#333;
    }
    #b1{
        width: 100%;
        height: 300px;
        margin:0 auto;
        }
    .bot ul{width:70%;margin:0 auto;}
}
@media(min-width:768px) and (max-width:1439px){
    .link{
        width: 100%;
        height: 205px;
        margin:0 auto;
    }
    .link ul li{margin:0 25px;}
    .link ul a{
        font-size: 12px;
        color:#333;
    }
    .link ul li a div:nth-child(1){
        width: 130px;height: 34px;
        margin:0 0 12px;
    }
    .link ul li img{ 
        width: 25.08px;height: 25px;
        margin: 0 50px;
    }
    /* 尾部下部栏 */
    #foot{
        width: 100%;
        height: 300px;
        margin:0 auto;
        padding: 60px 0;
    }
    .mid div ul{
        width: 100px;
        height: 250px;
        list-style: none;
        float: left;
        font-size:13px;
        color:#666;
    }
    .mid div ul span{display:none;}
    
    .mid div:first-child{
       width: 70%;
    }
    
    .mid div ul li{ 
        margin:0 13px 0 0;
        padding: 8px 0;
    }
    .mid div ul li:first-child{
        margin:0 0 10px;
        padding: 0;
        color:#333;
    }
    #b1{
        width: 100%;
        height: 300px;
        margin:0 auto;
        }
    .bot ul{width:80%;margin:0 auto;}
}
@media(max-width:767px){
    .link>.row>ul>li{
        width:50%; 
        height: 105px;
    }
    .link>.row>ul>li div:first-child{
        width: 315px;height: 45.33px;
    }
    .link>.row>ul>li div img{
            width: 46px;height: 45px;
            margin: 0 135px 10px 135px ;
    }
    .link ul{
        display: flex;
        justify-content:space-around;
        flex-wrap:wrap;
        list-style: none;
        margin: 70px 50px;
    }
    .mid div ul{
        width: 100%;
        height: 53px;
        list-style: none;
        font-size:13px;
        color:#666;
    }
    .mid div ul span{float:right;}
    .mid ul li:first-child{ 
        width:100%;
        height:53px;
        border-bottom:1px solid #ebebeb;
        line-height: 53px;
    }
    .mid ul li:not(:first-child){
        display:none;
    }
        #b1{
            width:100%;
            height: 57px;
            margin:0 auto;
            }
    #r-mid{
        width:100%;
        height: 57px;
        margin:0 auto;
    }
            #r-mid a{float:right;}
    #r-mid h3{
        float: left;
        margin:0;
        line-height:57px;
}
    #r-mid h4{
        float:left; 
        line-height:57px;
        margin: 0 10px;
    }
}