/* 3个横向图 */
.main ul li{list-style: none;}
.phone1{
    background:url(../image/part1.jpg) no-repeat;
    background-size:100% 100%;
}

.phone2{
    background:url(../image/part2.jpg) no-repeat;
    background-size:100% 100%;
}
.phone3{
    background:url(../image/part3.jpg) no-repeat;
    background-size:100% 100%;
}
@media(min-width:1440px){
    .phone1,.phone2,.phone3{ 
        width: 1237.5px;
        height:660px;
        margin:0 auto 20px;
        border:1px solid #000;
         }
    .phone1 ul{
        width: 600px;
        height: 330px;
        float:right;
        text-align: center;
        margin:150px 0; 
    }
    .phone3 ul{
        width: 600px;
        height: 330px;
        float:right;
        text-align: center;
        margin:150px 0; 
    }
    .phone2 ul{
        width: 600px;
        height: 330px;
        float:left;
        text-align: center;
        margin:150px 0;
    }
    .Mid{ 
        width: 1237.5px;
        height:660px;
        display: flex;
        margin:0 auto;
    }
    .Mid div img{
       width: 580px;
       height: 440px;
       
   }
   .Mid>div{
       margin:18.75px;
    }
   .Mid>div ul li{
       text-align: center;
    }
} 
@media(min-width:768px) and (max-width:1439px){
    .main div{ 
        width: 900px;
        height:480px;
        margin:0 auto 20px;
         }
    .phone1 ul{
        width: 400px;
        height: 256px;
        float:right;
        text-align: center;
        margin:100px 0; 
    }
    .phone3 ul{
        width: 400px;
        height: 256px;
        float:right;
        text-align: center;
        margin:100px 0; 
    }
    .phone2 ul{
        width: 400px;
        height: 256px;
        float:left;
        text-align: center;
        margin:100px 0; 
    }
   
} 
@media(max-width:768px){
    .main div{ 
        width: 100%;
        height:540px;
         }
    .phone1 ul{
        width: 200px;
        height: 156px;
        float:right;
        text-align: center;
        margin:100px 50px;
    }
    .phone3 ul{
        width: 200px;
        height: 156px;
        float:right;
        text-align: center;
        margin:100px 50px;
    }
    .phone2 ul{
        width: 200px;
        height: 156px;
        float:left;
        text-align: center;
        margin:100px 50px;
    }
    
} 
